.container{
    display: flex;
    margin: 10px;
    padding-right: 10px;
}
.button{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 10px;
}

#grey{
    background: grey;
}
#green{
    background: green;
}
#black{
    background: black;
}
#red{
    background: red;
}
#pink{
    background: pink;
}
#blue{
    background: blue;
}